<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>分类</title>
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/common_css.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/classify.css" />
	</head>
	<body>

		<header>

		</header>


		<div class="main">
			<div class="left-wrap">
				<ul class="cls-menu">
					<li class="cls-tags">——手机——</li>
					<li class="cls-items"><a class="cls-items-active" href="">限时特惠</a></li>
					<li class="cls-items"><a href="">Reno系列</a></li>
					<li class="cls-items"><a href="">K系列</a></li>
					<li class="cls-items"><a href="">R系列</a></li>
					<li class="cls-items"><a href="">Find X</a></li>
					<li class="cls-items"><a href="">A系列</a></li>

					<li class="cls-tags">——配件——</li>
					<li class="cls-items"><a href="">数据线</a></li>
					<li class="cls-items"><a href="">耳机</a></li>
					<li class="cls-items"><a href="">移动电源</a></li>
					<li class="cls-items"><a href="">适配器</a></li>
					<li class="cls-items"><a href="">保护壳</a></li>
					<li class="cls-items"><a href="">自拍杆</a></li>
					<li class="cls-items"><a href="">超值套餐</a></li>

					<li class="cls-tags">——只能家居——</li>
					<li class="cls-items"><a href="">手机周边</a></li>
					<li class="cls-items"><a href="">只能家居</a></li>
					<li class="cls-items"><a href="">穿戴</a></li>
					<li class="cls-items"><a href="">照明</a></li>
					<li class="cls-items"><a href="">影音</a></li>
				</ul>
			</div>
			
			<div class="right-wrap">
				<div class="cls-box cls_1_1">
					<div class="cls-logo">
						<img class="cls-logo-pic" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
						<div class="cls-logo-content">
							<h4>Reno 最高直降 400</h4>
							<p>6期免息 | 赠碎屏险</p>
							<h6>到手￥2199起</h6>
						</div>
					</div>
					<p class="cls-title">限时优惠</p>
					<div class="cls-wrap">
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						
						
						
					</div>
				</div>
				
				<div class="cls-box cls_1_2">
					<div class="cls-logo">
						<img class="cls-logo-pic" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
						<div class="cls-logo-content">
							<h4>Reno 最高直降 400</h4>
							<p>6期免息 | 赠碎屏险</p>
							<h6>到手￥2199起</h6>
						</div>
					</div>
					<p class="cls-title">限时优惠</p>
					<div class="cls-wrap">
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>	
					</div>
				</div>
				
				<div class="cls-box cls_1_3">
					<div class="cls-logo">
						<img class="cls-logo-pic" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
						<div class="cls-logo-content">
							<h4>Reno 最高直降 400</h4>
							<p>6期免息 | 赠碎屏险</p>
							<h6>到手￥2199起</h6>
						</div>
					</div>
					<p class="cls-title">限时优惠</p>
					<div class="cls-wrap">
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
						<a class="shopcard">
							<img class="shopcard-img" src="https://dsfs.oppo.com/archives/201908/201908300308085d68d044c3bcc.png?x-oss-process=image/format,webp" />
							<h5 class="shopcard-title">Reno 6G+128G</h5>
							<p class="shopcard-discount">直降400，到手2199</p>
							<p class="shopcard-charge">
								<span class="present-price">￥2199</span>
								<span class="original-price">￥2599</span>
							</p>
						</a>
					</div>
				</div>


			</div>
		</div>


		<footer>
			<div class="footerbtn">
				<span class="iconfont footer-icon">&#xe605;</span>
				<i>首页</i>
			</div>
			<div class="footerbtn">
				<span class="iconfont footer-icon">&#xe606;</span>
				<i>分类</i>
			</div>
			<div class="footerbtn footer-active">
				<span class="iconfont footer-icon">&#xe7ed;</span>
				<i>服务</i>
			</div>
			<div class="footerbtn">
				<span class="iconfont footer-icon">&#xe60b;</span>
				<i>购物车</i>
			</div>
			<div class="footerbtn">
				<span class="iconfont footer-icon">&#xe690;</span>
				<i>我的</i>
			</div>
		</footer>


		<script type="text/javascript" src="../scripts/flexible.js"></script>
		<script type="text/javascript" src="../scripts/zepto.js"></script>
		<script type="text/javascript" src="../scripts/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/classify.js"></script>
	</body>
</html>
