<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>服务</title>
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/common_css.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/service.css" />
	</head>
	<body>


		<div class="wrap">
			<header>

			</header>
			<div class="main">


				<div class="off-service">
					<p class="service-title">官方服务</p>
					<div class="service-box">
						<a class="service-btn" href="#">
							<span class="iconfont" style="color: #FE5442;">&#xe601;</span>
							<i>服务网点</i>
						</a>
						<a class="service-btn" href="#">
							<span class="iconfont" style="color: #F9CC1F;">&#xe61b;</span>
							<i>维修服务</i>
						</a>
						<a class="service-btn" href="#">
							<span class="iconfont" style="color: #0597F8;">&#xe82b;</span>
							<i>保障服务</i>
						</a>
						<a class="service-btn" href="#">
							<span class="iconfont" style="color: #F8CA1B;">&#xe604;</span>
							<i>真伪查询</i>
						</a>
						<a class="service-btn" href="#">
							<span class="iconfont" style="color: #19CA8A;">&#xe635;</span>
							<i>以旧换新</i>
						</a>
						<a class="service-btn" href="#">
							<span class="iconfont" style="color:#19CA8A;">&#xe61a;</span>
							<i>联系客服</i>
						</a>
						<a class="service-btn" href="#">
							<span class="iconfont" style="color: #FCD638;">&#xe627;</span>
							<i>服务政策</i>
						</a>
					</div>
				</div>
				
				<div class="news">
					<p class="service-title">最新动态</p>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">服务</span>
						<p class="news-content">OPPO服务晚打烊 延时服务更贴心</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">玩机控</span>
						<p class="news-content">OPPO无线降噪耳机如何实力圈粉?</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">服务</span>
						<p class="news-content">OPPO服务晚打烊 延时服务更贴心</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">玩机控</span>
						<p class="news-content">OPPO无线降噪耳机如何实力圈粉?</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">服务</span>
						<p class="news-content">OPPO服务晚打烊 延时服务更贴心</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">玩机控</span>
						<p class="news-content">OPPO无线降噪耳机如何实力圈粉?</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">服务</span>
						<p class="news-content">OPPO服务晚打烊 延时服务更贴心</p>
					</div>
					<div class="new-card">
						<img src="https://dsfs.oppo.com/archives/201909/201909250309235d8b140bc9efb.jpg?x-oss-process=image/format,webp" >
						<span class="news-title">玩机控</span>
						<p class="news-content">OPPO无线降噪耳机如何实力圈粉?</p>
					</div>
				</div>
			</div>


			<footer>
				<div class="footerbtn">
					<span class="iconfont footer-icon">&#xe605;</span>
					<i>首页</i>
				</div>
				<div class="footerbtn">
					<span class="iconfont footer-icon">&#xe606;</span>
					<i>分类</i>
				</div>
				<div class="footerbtn footer-active">
					<span class="iconfont footer-icon">&#xe7ed;</span>
					<i>服务</i>
				</div>
				<div class="footerbtn">
					<span class="iconfont footer-icon">&#xe60b;</span>
					<i>购物车</i>
				</div>
				<div class="footerbtn">
					<span class="iconfont footer-icon">&#xe690;</span>
					<i>我的</i>
				</div>
			</footer>


		</div>



		<script type="text/javascript" src="../js/flexible.js"></script>
		<script type="text/javascript" src="../js/zepto.js"></script>
		<script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="../js/service.js"></script>
	</body>
</html>
